.sns-link {
    color: #fff;
}

/**
 * Post layout
 */
.post h1 {
  font-size: 1.8em;
  font-weight: 600;
}
.post h2 {
  font-size: 1.6em;
  font-weight: 600;
  border-bottom: 1px #ddd solid;
}
.post h3 {
  font-size: 1.5em;
  font-weight: bold;
}
.post h3 {
    font-size: 1.4em;
    font-weight: bold;
  }
.post h4 {
    font-size: 1.3em;
    font-weight: bold;
}
.post > p {
    margin-top: 0.8em;
    margin-bottom: 0.8em;
}
/**
 * Top page post card
 */
@media screen and (max-width: 768px) {
    .post-card {
        display: flex;
    }
    .post-card .card-image {
        flex: none;
        width: 30%;
        border-radius: 0.25rem;
    }
    .post-card .card-image img {
        border-radius: 0.25rem;
    }
}
