{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <div class="card">
          <div class="card-header">
            <div class="card-header-title">Tags</div>
          </div>
          <div class="card-content">
            {{ range .Site.Taxonomies.tags }}
              <a class="button" href="{{ .Page.RelPermalink }}">{{ .Page.Title }}({{ .Count }})</a>
            {{ end }}
          </div>
        </div>
      </div>
      <div class="column">
        {{ partial "latest-posts" . }}
        {{ partial "twitter" }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}