{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section class="section pr-2 pl-2">
  <div class="container">
    <div class="columns">
      <div class="column is-8">
        <div class="card mb-3">
          <div class="card-content post">
            <h1 class="title">{{ .Title }}</h1>
            <p class="is-size-6"><i class="fa fa-calendar"></i>
              {{ .PublishDate.Format "2006-01-02" }}
              ({{ .Lastmod.Format "2006-01-02" }} 更新)<br>
              <i class="fa fa-tags"></i>
              {{ range (.GetTerms "tags") }}
                <a href="{{ .Page.RelPermalink }}">#{{ .LinkTitle }}</a>
              {{ end }}
            </p>
            <p style="width: 80%"><img class="thumbnail is-centered" src="{{ .Params.thumbnail }}" alt=""></p>
            <article class="message is-link is-info">
              <div class="message-header">目次</div>
              <div class="message-body">
                {{ .TableOfContents }}
              </div>
            </article>
            {{ .Content }}
          </div>
        </div>

        <nav class="pagination is-rounded is-centered" role="navigation" aria-label="pagination">
          {{ with .NextInSection }}
            <a class="pagination-previous" href="{{ .RelPermalink }}">{{ .Title | truncate 50 "..."}}</a>
          {{ end }}
          {{ with .PrevInSection }}
            <a class="pagination-next" href="{{ .RelPermalink }}">{{ .Title | truncate 50 "..." }}</a>
          {{ end }}
        </nav>
      </div>
      <div class="column">
        {{ partial "latest-posts" . }}
        {{ partial "twitter" }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}