<div class="column is-half">
  <div class="card is-fullwidth">
    <div class="card-image">
      <figure class="image">
        <img class="thumbnail" src="{{ .Params.thumbnail }}" alt="">
      </figure>
    </div>
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
          </p>
        </div>
      </div>
      <div class="content">
        {{ .Summary }}
      </div>
      <div>
        <a class="button" href="{{ .RelPermalink }}">READ MORE</a>
      </div>
    </div>
  </div>
</div>