<header class="hero is-info">
  <div class="hero-head">
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">{{ .Site.Title }}</a>
          <span id="navbar-toggle" class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbar-menu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item" href="/">/</a>
            <a class="navbar-item" href="/about">/About</a>
            <a class="navbar-item" href="/posts">/Posts</a>
            <a class="navbar-item" href="/tags">/Tags</a>
            <a class="navbar-item" href="#">/Contact</a>
            <a class="navbar-item" href="/rss"><i class="fas fa-rss-square"></i></a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>