<div class="mb-3">
  <form action="http://google.com/cse" target="_blank">
    <div class="field has-addons">
      <div class="control" style="width:100%;">
        <input type="hidden" name="cx" value="4214de411e142d028">
        <input type="hidden" name="ie" value="UTF-8">
        <input type="text" name="q" class="input" placeholder="keywords">
      </div>
      <div class="control">
        <button type="submit" name="sa" class="button"><i class="fa fa-search"></i></button>
      </div>
    </div>
  </form>
</div>