{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <p class="title">作成中</p>
        {{ $posts := where .Site.RegularPages "Type" "posts" }}
        {{ $len := (len $posts) }}
        {{ range $index,$value := $posts }}
          {{ if (modBool $index 2) }}
            <div class="columns">
          {{ end }}
          {{ .Render "summary" }}
          {{ if or (not (modBool $index 2)) (eq (add $index 1) $len) }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ partial "latest-posts" . }}
        {{ partial "twitter" }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}