{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section class="section pr-2 pl-2">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        <div class="columns is-multiline is-1">
          {{ range (where .Site.RegularPages "Type" "posts") }}
            {{ partial "post_card" . }}
          {{ end }}
        </div>
      </div>
      <div class="column">
        {{ partial "search" }}
        {{ partial "latest-posts" . }}
        {{ partial "twitter" }}
      </div>
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}