{{ partial "header.html" . }}
{{ partial "nav.html" . }}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-9">
        {{ range $index,$value := where .Site.RegularPages "Type" "posts" }}
          {{ if (modBool $index 2) }}
            <div class="columns">
          {{ end }}
          {{ .Render "summary" }}
          {{ if not (modBool $index 2) }}
            </div>
          {{ end }}
        {{ end }}
      </div>
      <div class="column">
        {{ partial "latest-posts" . }}
        {{ partial "twitter" }}
      </div>
    </div>
  </div>
</section>

{{ partial "footer.html" . }}